* {margin: 0; padding: 0;} /* обнуляем отступы */

body{
text-align: center; 
background: #fff;
}

div {
width: 800px; 
margin: 0 auto;
padding-bottom: 30px;
}

header{
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}

footer{
  width: 800px;
  margin: 0 auto;
  background-color: #F5F5F5;
  height: 299px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: width 2s;
    transition: width 2s;
}

li a:hover {
    background-color: #F5F5F5;
    width: 150px;
}

h1{
width: 792px;
height: 86px;
color: #1b2b39;
font-family: Montserrat;
font-size: 36px;
line-height: 60px;
text-transform: uppercase;
font-weight: 300;
padding-top: 50px;
}

b{
  font-weight: 700;
}

font.spec{
  width: 225px;
  height: 26px;
  color: #1b2b39;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
}

font.buy{
  width: 145px;
height: 24px;
color: #1b2b39;
font-family: Montserrat;
font-size: 26px;
font-weight: 300;
line-height: 40px;
}

font.plug{
  width: 278px;
height: 43px;
color: #1b2b39;
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 30px;
text-transform: uppercase;
}

p{
  width: 774px;
  height: 98px;
  color: #1b2b39;
  font-size: 18px;
  line-height: 40px;
  font-family: Montserrat;
  font-weight: 300;
}

font.lorem{
  width: 774px;
  height: 98px;
  color: #1b2b39;
  font-size: 18px;
  line-height: 40px;
  font-family: Montserrat;
  font-weight: 300;
}


#headerLogo {
  text-align: left;

}

#trouble{
  text-align: center;
}

#car {
    text-align: center;
}

#footer{
  float: left;
  text-align: left;
  width: 60%;
  margin-left: 10%;
  margin-top: 10%;

}

#try{
      margin-top: 60%;
      background-color: #1d4568;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      display: inline-block;
}

#buttonBuy{
  width: 149px;
height: 40px;
background-color: #1b2b39;
border-radius: 3px;
border: none;
}


#setup{
  text-align: center;
  width: 100%;
}

#specification{
  text-align: center;
}

.headerText{
  width: 90px;
height: 40px;
color: #1b2b39;
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 17px;
}

.listText{
color: #1b2b39;
font-family: Montserrat;
font-size: 13px;
font-weight: 300;
line-height: 24px;
}

font.buttonText{
  width: 113px;
height: 14px;
color: #e2e1e9;
font-size: 14px;
line-height: 17px;
font-family: Montserrat;
font-weight: 300;
}

font.buttonArrow{
  width: 113px;
height: 14px;
color: #e2e1e9;
font-size: 14px;
line-height: 17px;
font-family: Lato;
font-weight: 500;
}

font.button99{
  border-radius: 3px;
  width: 36px;
  height: 18px;
  color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
}

font.signUp{
  width: 158px;
height: 14px;
color: #1b2b39;
font-family: Montserrat;
font-size: 14px;
font-weight: 300;
line-height: 17px;
}

font.headerTwo{
  width: 445px;
  height: 17px;
  color: #1b2b39;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.leftImg{
  background-color: white;
}

.whitesmoke{
    background-color: whitesmoke;
}
