

body{
  margin-left: 10%;
  margin-right: 10%;
  font-family: Montserrat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F5F5F5;
}
/*.hr li{
  display: inline;
}*/


#headerLogo {
    position: static;
   	/*padding-left: 146px;
	  padding-top: 68px;*/
}

#trouble{
  text-align: center;
}

#car {
    align: center;
}

#footer{
  float: left;
  text-align: left;
  width: 60%;

}

#try{
  text-align: left;
}

#setup{
  align: center;
  width: 100%;
}

#specification{
  align: center;
}
